---
// Component Imports
import Content from "../components/Content.astro"
import Footer from "../components/Footer.astro"
import Header from "../components/Header.astro"
const title = "Warwick Hall Studios | affordable artists studios in Cardiff"
---
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{title}</title>

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <link rel="stylesheet" href={Astro.resolve('sanitize.css/sanitize.css')}>
    <link rel="stylesheet" href={Astro.resolve('sanitize.css/assets.css')}>
    <link rel="stylesheet" href={Astro.resolve('sanitize.css/reduce-motion.css')}>
    <link rel="stylesheet" href={Astro.resolve('sanitize.css/typography.css')}>
    <link rel="stylesheet" href={Astro.resolve('../styles/global.css')}>

  </head>
  <body>

    <Header />
    <Content />
    <Footer />

  </body>
</html>
