@use 'sass:map';

$breakpoints: (
  a: 320px,
  b: 376px,
  c: 467px,
  d: 600px,
  e: 714px,
  f: 887px,
  g: 1099px
);

@mixin mq($key) {
  $size: map.get($breakpoints, $key);
  @media only screen and (max-width: $size) {
    @content;
  }
}
