:root {
  --dark: hsl(225, 7%, 11%);
  --light: hsl(0, 0%, 96%);
  --dark-blue: hsla(204, 100%, 27%, 70%);
  --yellow: hsl(48, 100%, 80%);
  --purple: hsl(272, 100%, 80%);
  --light-blue: hsl(216, 100%, 80%);
  --mint: hsl(168, 100%, 80%);
}
