@font-face {
  font-family: 'GT Alpina';
  font-size: normal;
  font-weight: 700;
  src: url('assets/fonts/gtalpina-bold-sub.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'GT Alpina';
  font-size: normal;
  font-weight: 400;
  src: url('assets/fonts/gtalpina-regular-lat.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Banana Grotesk';
  font-size: normal;
  font-weight: 700;
  src: url('assets/fonts/bananagrotesk-bold-sub.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Banana Grotesk';
  font-size: normal;
  font-weight: 400;
  src: url('assets/fonts/bananagrotesk-regular-lat.woff2') format('woff2');
  font-display: swap;
}
