<main class="site-main">
  <div class="headline"><h1 class="logo">Warwick Hall<br>Studios</h1></div>
  <div class="main-container">
    <h2 class="tagline">A<span class="hide">ffordable a</span>rt studios in Cardiff.</h2>
    <p class="body-text">Warwick Hall Studios is an artist led initiative providing studio accommodation for artists and makers in Cardiff. We are a collective of around 21 creatives working in a range of media. We have 16 studios of different sizes with good natural light at affordable prices.<p>
  </div>
</main>

<style lang="scss">
  .headline {
    background: var(--dark-blue);
    height: 11.5rem;
    width: 77.5%;
    margin-left: 22.5%;
    display: inline-block;
    margin-top: -5.75rem;
  }

  .logo {
    letter-spacing: 0.15rem;
    padding: 0.75rem 1.5rem;
  }

  .tagline {
    padding-top: 1.5rem;
    font-weight: 700;
    text-align: right;
    color: var(--purple);
  }

  .main-container {
    margin: 0rem 16.5% 4rem 11.5%;
  }

  .body-text {
    padding-right: 27%;
    padding-top: 3rem;
  }

  @media only screen and (min-width: 1421px) {
    .headline {
      height: 15rem;
      margin-top: -7.5rem;
    }

    .logo {
      padding: .75rem 2rem;
    }

    .tagline {
      padding-top: 2.5rem;
    }

    .main-container {
      margin: 0rem 20.5% 4rem 11.5%;
    }

    .body-text {
      padding-right: 23%;
    }
  }

  @media only screen and (max-width: 1099px) {
    .body-text {
      width: 100%;
    }
  }

  @media only screen and (max-width: 887px) {
    .headline {
      width: 88%;
      margin-left: 11.5%;
    }

    .body-text {
      padding-right: 0;
      padding-top: 3rem;
    }

    .main-container {
      margin: 0rem 11.5% 4rem 11.5%;
    }
  }

  @media only screen and (max-width: 714px) {
    .headline {
      height: 10.375rem;
      margin-top: -5.15rem;
    }
  }

  @media only screen and (max-width: 600px) {
    .headline {
      height: 8.375rem;
      margin-top: -4rem;
    }
  }

  @media only screen and (max-width: 467px) {
    .headline {
      height: 7.25rem;
      margin-top: -3.5rem;
      width: 94%;
      margin-left: 6%;
    }

    .logo {
      padding: 0.375rem 1rem;
    }

    .body-text {
      padding-top: 2.25rem;
    }

    .main-container {
      margin: 0rem 6% 4rem 6%;
    }

    .hide {
      display: none;
    }
  }

  @media only screen and (max-width: 376px) {
    .headline {
      height: 6.5rem;
      margin-top: -3.15rem;
    }

    .logo {
      padding: 0.5rem 1rem;
    }

    .body-text {
      padding-top: 2rem;
    }
  }

  @media only screen and (max-width: 320px) {
    .headline {
      height: 5.5rem;
      margin-top: -2.67rem;
    }
  }
</style>
