<main class="site-main">
  <div class="headline"><h1 class="logo">Warwick Hall<br>Studios</h1></div>
  <div class="main-container">
    <h2 class="tagline">A<span class="hide">ffordable a</span>rt studios in Cardiff.</h2>
    <p class="body-text">Warwick Hall Studios is an artist led initiative providing studio accommodation for artists and makers in Cardiff. We are a collective of around 21 creatives working in a range of media. We have 16 studios of different sizes with good natural light at affordable prices.<p>
  </div>
</main>

<style lang="scss">

</style>
