---
import { Markdown } from 'astro/components';
---

<header class="site-header">
  <div class="hero-container">
    <picture>
      <source srcset="assets/img/jess-studio.webp" type="image/webp">
      <source srcset="assets/img/jess-studio.jpg" type="image/jpeg">
      <img class="hero-image" src="assets/img/jess-studio.jpg" alt="" width="1200" height="800" />
    </picture>
  </div>
</header>

<style lang="scss">

</style>
