<main class="site-main">
  <div class="headline"><h1 class="logo">Warwick Hall<br>Studios</h1></div>
  <div class="main-container">
    <h2 class="tagline">A<span class="hide">ffordable a</span>rt studios in Cardiff.</h2>
    <p class="body-text">Warwick Hall Studios is an artist led initiative providing studio accommodation for artists and makers in Cardiff. We are a collective of around 21 creatives working in a range of media. We have 16 studios of different sizes with good natural light at affordable prices.<p>
  </div>
</main>

<style lang="scss">
  @use '../styles/foundation/breakpoints' as b;

  .headline {
    background: var(--dark-blue);
    height: 11.5rem;
    width: 77.5%;
    margin-left: 22.5%;
    display: inline-block;
    margin-top: -5.75rem;
    @include b.mq(h) {
      height: 15rem;
      margin-top: -7.5rem;
    }
    @include b.mq(f) {
      width: 88%;
      margin-left: 11.5%;
    }
    @include b.mq(e) {
      height: 10.375rem;
      margin-top: -5.15rem;
    }
    @include b.mq(d) {
      height: 8.375rem;
      margin-top: -4rem;
    }
    @include b.mq(c) {
      height: 7.25rem;
      margin-top: -3.5rem;
      width: 94%;
      margin-left: 6%;
    }
    @include b.mq(b) {
      height: 6.5rem;
      margin-top: -3.15rem;
    }
    @include b.mq(a) {
      height: 5.5rem;
      margin-top: -2.67rem;
    }
  }

  .logo {
    letter-spacing: 0.15rem;
    padding: 0.75rem 1.5rem;
    @include b.mq(h) {
      padding: 0.75rem 2rem;
    }
    @include b.mq(c) {
      padding: 0.375rem 1rem;
    }
    @include b.mq(b) {
      padding: 0.5rem 1rem;
    }
  }

  .tagline {
    padding-top: 1.5rem;
    font-weight: 700;
    text-align: right;
    color: var(--purple);
    @include b.mq(h) {
      padding-top: 2.5rem;
    }
  }

  .main-container {
    margin: 0rem 16.5% 4rem 11.5%;
    @include b.mq(h) {
      margin: 0rem 20.5% 4rem 11.5%;
    }
    @include b.mq(f) {
      margin: 0rem 11.5% 4rem 11.5%;
    }
    @include b.mq(c) {
      margin: 0rem 6% 4rem 6%;
    }
  }

  .body-text {
    padding-right: 27%;
    padding-top: 3rem;
    @include b.mq(h) {
      padding-right: 23%;
    }
    @include b.mq(g) {
      width: 100%;
    }
    @include b.mq(f) {
      padding-right: 0;
      padding-top: 3rem;
    }
    @include b.mq(c) {
      padding-top: 2.25rem;
    }
    @include b.mq(b) {
      padding-top: 2rem;
    }
  }

  .hide {
    @include b.mq(c) {
      display: none;
    }
  }
</style>
